<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='/resources/css/lib/bootstrap.min.css' rel='stylesheet' />
    <script src='/resources/js/lib/popper.min.js'></script>
    <script src='/resources/js/lib/bootstrap.min.js'></script>
    <script src='/resources/js/lib/axios.min.js'></script>
    <script type='text/javascript' src='/resources/js/custom.js'></script>
    <title>{{title}}</title>
   
  </head>
  <body class="back">
    <div class='container'>
      <div class='row'>
        <div class='col-12 mt-5'>
          <form id='create-page' onsubmit='return validatForm(event)' novalidate>
            <div class='modal-header'style="height:50px; width:100%;border-radius:30px; background-color:black;text-align:center;" >
              <h5 class='modal-title' id='addPageModalLabel'style="color:white;font-weight:bold;margin-left:46%;">Create Page</h5>
              
            </div>
            <div class='modal-body'>
              <div class='col-auto'>
                <label for='name' class='form-label'>Name</label>
                <input
                  type='text'
                  class='form-control form-control-sm'
                  id='name'
                  name='name'
                  placeholder='Name of Page'
                  required
                />
                <div class='invalid-feedback'>
                  Please enter a valid name
                </div>
              </div>
            </div>
            <div class='modal-footer'>
              <button
                type='button'
                class='btn btn-primary btn-lg'
                data-bs-dismiss='modal'
                onclick='clearForm()'
              >
                Clear
              </button>
              <button type='submit' class='btn btn-primary btn-lg'>
                ADD
              </button>
            </div>
          </form>
        </div>
        <div class='col-12 my-2'>
 <h5 class='modal-title' id='addPageModalLabel'style="color:black;font-weight:bold;">Dash Board</h5>
 <br></br>
          <table class='table table-bordered table-hover table'>
            <thead class="thead-dark">

              <tr style="background-color:black; color:white; font-weight:bold;text-align:center;">
                <td>ID</td>
                <td>Name</td>
                <td>Slug</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              {{#each pages}}
                <tr>
                  <td>{{this._id}}</td>
                  <td>{{this.name}}</td>
                  <td>{{this.slug}}</td>
                  <td>
                    <a href='/editor/{{this._id}}'>Edit</a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </body>
</html>
   